<form action="http://localhost/Webserver/Pages/Sign Up/createTraineeAccount.php" method="post">
  <p>Username</p>
  <input type="text" name="username"  />
  <p>Password</p>
  <input type="text" name="password"  />
  <p>E-mail</p>
  <input type="text" name="email" />
  <br/>
  <input type="submit" />
</form>