<form action="http://localhost/Webserver/Pages/Training Program/Content/confirmAddTrainingProgramContent.php" method="post">
  <p>Exercise_ID</p>
  <input type="text" name="exercise_ID"/>
  <p>Count</p>
  <input type="text" name="count"/>
  <br/>
  <input type="submit"/>
</form>


