<form action="http://localhost/Webserver/Pages/Exercises/createExercise.php" method="post">
  <p>Exercise Name</p>
  <input type="text" name="name"  />
  <p>Unit</p>
  <input type="text" name="unit"  />
  <input type="submit" />
</form>