<form action="http://localhost/Webserver/Pages/Training Program/Create Training Program/confirmCreateTraining.php" method="post">
  <p>Training Name</p>
  <input type="text" name="name"/>
  <input type="submit"/>
</form>