<form action="http://localhost/Webserver/Debugging/Pages/Converter/converterCheck.php" method="post">
  <p>Name:</p>
  <input type="text" name="name"  />
  <p>Table:</p>
  <input type="text" name="table"  />
  <p>ID Field:</p>
  <input type="text" name="ID_field" />
  <p>Name field:</p>
  <input type="text" name="name_field" />
  <br/>
  <input type="submit" />
</form>