<form action="http://localhost/Webserver/Pages/Training Program/Assign/selectTrainingProgramToAssign.php" method="post">
  <p>Training Program ID</p>
  <input type="text" name="training_Program_ID"  />
  <br/>
   <input type="submit" />
  
</form>