<form action="http://localhost/Webserver/Pages/Training Program/Assign/confirmAssignTrainingProgram.php" method="post">
  <p>Trainee Name</p>
  <input type="text" name="trainee_Name"  />
  <br/>
   <p>Training Program ID/p>
  <input type="text" name="training_program_ID"  />
  <br/>
   <input type="submit" />
  
</form>