<form action="http://localhost/Webserver/Pages/Add Task/addTask.php" method="post">
  <p>TrainingProgramID</p>
  <input type="text" name="trainingProgramID"  />
  <p>Exercise ID</p>
  <input type="text" name="exerciseID"  />
  <p>Amount</p>
  <input type="text" name="amount" />
  <br/>
  <input type="submit" />
</form>