<form action="http://localhost/Webserver/Pages/Login/login.php" method="post">
  <p>Username</p>
  <input type="text" name="username"  />
  <p>Password</p>
  <input type="text" name="password"  />
  <p>Role</p>
  <input type="text" name="role" />
  <br/>
  <input type="submit" />
</form>